.floating-label {
    position: relative;
}

.floating-label__input {
    display: flex;
    padding: 13px 14px 14px 15px;
    border: none !important;
    outline: none !important;
    background-color: transparent;
    font-size: 16px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.87);
    z-index: 1;
}

.floating-label__outline {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
}

.floating-label__leading,
.floating-label__notch,
.floating-label__trailing {
    border-color: rgba(0, 0, 0, 0.24);
    border-width: 1px;
    border-style: solid;
    transition: border 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.floating-label__leading {
    border-radius: 4px 0 0 4px;
    border-right: none;
    width: 12px;
}

.floating-label__notch {
    flex: 0 1 auto;
    border-right: none;
    border-left: none;
}

.floating-label__trailing {
    flex-grow: 1;
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.floating-label__label {
    display: inline-block;
    position: relative;
    top: 16px;
    bottom: auto;
    left: 4px;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.6);
    transform-origin: left top;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.floating-label__input:hover~.floating-label__outline .floating-label__leading,
.floating-label__input:hover~.floating-label__outline .floating-label__notch,
.floating-label__input:hover~.floating-label__outline .floating-label__trailing {
    border-color: rgba(0, 0, 0, 0.87);
}

.floating-label.active .floating-label__leading,
.floating-label.active .floating-label__notch,
.floating-label.active .floating-label__trailing,
.floating-label__input:not(:placeholder-shown) .floating-label__leading,
.floating-label__input:not(:placeholder-shown) .floating-label__notch,
.floating-label__input:not(:placeholder-shown) .floating-label__trailing,
.floating-label__input:valid~.floating-label__outline .floating-label__leading,
.floating-label__input:valid~.floating-label__outline .floating-label__notch,
.floating-label__input:valid~.floating-label__outline .floating-label__trailing,
.floating-label__input:focus~.floating-label__outline .floating-label__leading,
.floating-label__input:focus~.floating-label__outline .floating-label__notch,
.floating-label__input:focus~.floating-label__outline .floating-label__trailing,
input:-webkit-autofill+.floating-label__outline .floating-label__leading,
input:-webkit-autofill+.floating-label__outline .floating-label__notch,
input:-webkit-autofill+.floating-label__outline .floating-label__trailing {
    border-color: #6200ee;
    border-width: 2px;
}

.floating-label.active .floating-label__notch,
.floating-label__input:not(:placeholder-shown) .floating-label__notch,
.floating-label__input:valid~.floating-label__outline .floating-label__notch,
.floating-label__input:focus~.floating-label__outline .floating-label__notch,
input:-webkit-autofill+.floating-label__outline .floating-label__notch {
    border-top: none;
}

.floating-label.active .floating-label__label,
.floating-label__input:not(:placeholder-shown) .floating-label__label,
.floating-label__input:valid~.floating-label__outline .floating-label__label,
.floating-label__input:focus~.floating-label__outline .floating-label__label,
input:-webkit-autofill+.floating-label__outline .floating-label__label {
    color: rgba(98, 0, 238, 0.87);
    transform: translateY(-21px) scale(0.75);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-transition-delay: 99999s;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.input--error .floating-label__label {
    color: #FF8484 !important;
    animation: shake 0.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    33.33% {
        transform: translate3d(8px, -21px, 0) scale(0.75);
    }

    66.33% {
        transform: translate3d(-2px, -21px, 0) scale(0.75);
    }

    100% {
        transform: translate3d(0, -21px, 0) scale(0.75);
    }
}

* {
    box-sizing: border-box;
}


.input-group {
    position: relative;
    max-width: 300px;
}

form {
    display: flex;
    flex: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.hello {
    color: white
}